$black: #232323;
$white: #dbdbdb;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$second: #f9bc60;


$negative: #e53170;
$subnegative: #2c0815;
$aform: #2cb67d;
$subaform: #061b12;



$container-width: 90%;

$duration: 0.15s;
